asgiref==3.7.2
certifi==2023.7.22
distlib==0.3.7
Django==4.2.5
filelock==3.12.4
gunicorn==21.2.0
packaging==23.2
Pillow==10.0.1
platformdirs==3.11.0
psycopg2-binary==2.9.9
python-environ==0.4.54
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.24.5
whitenoise==6.5.0
