{% extends 'layout.html' %} {% block content %} {% load static %}

<br><br><br>

<div class="container container-fluid">

    <h1 class="text-xxl-center p-5 m-5">
        Work in progress...
    </h1>
    <!-- <div class="row justify-content-center p-4">
        <div id="quote-section" class="col-9 d-grid align-content-center px-0 rounded-start-5">
            <div class="px-5">
                <p class="text-end">
                    I'm an inquiring and curious person, with a great passion for the things I love. I started to learn about software during my Bachelor's in Robotics Engineering in the University of Málaga. It wasn't until the last year, thanks to a good friend, that I found understood how interesting, beautiful and complex it can be though. From that point, I knew that my carrer would take a turn towards the amusing world of programming.
                </p>
                <p class="text-end">
                    Having the opportunity to bring virtually any idea to life through code is something that not only helps to make life easier, but also to keep your head busy, and understand how things work, by finding the key concepts of it.
                </p>
                <p class="text-end">
                    As you may notice from this introduction, this portfolio is a place in where I would like to unleash my imagination, talk about things I find interesting, and maybe one day to help other people to learn how coding can be introduced to their daily lives.
                </p>
            </div>
        </div>
        <div class="col-3 d-grid justify-content-center align-content-center px-0">
            <img class="rounded-end-5" src="/media/portfolio/images/me.jpg" style="width: 100%;">
        </div>
    </div> -->

    <!-- Carousel -->
    <!-- <div id="myCarousel" class="carousel carousel-dark slide my-5 carousel-custom rounded-5 p-4" data-ride="carousel"> -->
        <!-- Indicators -->
        <!-- <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div> -->
      
        <!-- Wrapper for slides -->
        <!-- <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
                <h1 class="text-center experience-title">My roots</h1>
                <div class="col-lg-5 col-12 d-flex justify-content-center">
                    <img class="rounded-image p-5" src="/media/portfolio/images/malaga.png" height="400px">
                </div>
                <div class="col-lg-7 col-12 d-grid align-content-center justify-content-center">
                    <p>
                        I've been raised in Málaga, located at the very South of Spain. More specifically, in a village called Mijas. Still nowadays, even after visiting and living in different places, it's still my favorite place in the world. Nice people, with a beautiful Spanish accent; great food, like "pescaíto frito"; villages with a lot of history; and really enjoyable shores. 
                    </p>
                    <p>
                        Growing with a humble and lovely family taught me my main values as a person, and drove me to be what I am nowadays. I believe in willingness, honesty and kindness. I also believe in the power of the community, and for that reason, I don't think just for myself, but for people around me.
                    </p>
                    <p>
                        Nowadays, techonology grows really fast. So fast that some people can't keep up. Personally, I would like to contribute to their help by developing software that is useful, but also easy to use. 
                    </p>
                </div>
            </div>
          </div> -->
      
          <!-- <div class="carousel-item">
            <div class="row">
                <h1 class="text-center experience-title">Passions</h1>
                    <div class="text-start">
                        <h3>Basketball</h3>
                        <p>I enjoy sports, but definitely, the one I like the most is basketball. I started to play as a kid, and since then I cannot think about a life without this beautiful sport. One of the best parts of it is the connection you get with the people you play with. </p>
                    </div>
                    <div class="text-end">
                        <h3>Music</h3>
                        <p>I'm always open to listen to some new and different music. Check out some of the songs I'm listening to:</p>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0rye3CoAXmgEL9RyOBQzaJ?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                    <div class="text-start">
                        <h3>Traveling</h3>
                        <p>Spain is a really nice place for hikers. Some of the places I've visited:</p>


                    </div>
                </div>
          </div> -->
      
          <!-- <div class="carousel-item">
            <div class="row">
                <h1 class="text-center experience-title">Some of my experiences</h1>
                <div class="col-lg-5 col-12 d-flex justify-content-center">
                    <img class="rounded-image p-5" src="/media/portfolio/images/sample3.jpg"height="400px">
                </div>
                <div class="col-lg-7 col-12 d-grid align-content-center justify-content-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ex odio, maximus vel arcu in, porta ultricies urna. Vestibulum tincidunt tempor orci quis eleifend. Nulla vitae enim tempor, placerat ex vitae, suscipit tellus. Donec nec augue ipsum. Ut egestas, tortor ac lacinia accumsan, lorem magna gravida libero, in accumsan sapien eros sed elit. Integer dapibus erat tempus elementum euismod. Phasellus sollicitudin auctor ex, id fermentum augue elementum eget. Phasellus efficitur purus tristique, tempus nulla eget, congue felis.</p>
                </div>
            </div>
        </div> -->
      
        <!-- Left and right controls -->
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
      </div> -->
    
</div>


{% endblock %}
