{% extends 'layout.html' %} {% block content %} {% load static %}

<br><br><br>

<div class="container">

    <div class="row">

        <!-- Reach me section -->
        <div class="col-lg-6 col-12">
            <div>
                <h2 class="section-title">Reach me</h2>
            </div>
            <div id="contact-section" class="p-3">
                <ul class="list-unstyled">
                    <li>
                        <div class="p-3">
                            <img src="/media/portfolio/icons/mail.svg" width="36" style="float: left;"/>
                            <p class="my-1"> fran.moreno.se@gmail.com</p>
                        </div>             
                    </li>
                    <li>
                        <div class="p-3">
                            <img src="/media/portfolio/icons/phone.svg" width="36" style="float: left;"   />
                            <p class="my-1"> (+34) 678 12 72 97</p>
                        </div>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/franciscomorenorodgiruez/" target="_blank" class="d-inline-block justify-content-center p-3">
                            <img src="/media/portfolio/icons/linkedin.svg" width="36" style="float: left;"   />
                            <p class="my-1">Francisco Moreno Rodríguez</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Franm99" target="_blank" class="d-inline-block justify-content-center p-3">
                            <img src="/media/portfolio/skills/icons8-github-240.svg"  height="36" style="float: left;"   />
                            <p class="my-1">Franm99</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Send email section -->
        <div class="col-lg-6 col-12">
            <h2 class="section-title">Or send me an Email</h2>

            <form id="formMail" title="Contact me">
                <div class="form-group my-2">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject" maxlength="200" required id="subject" placeholder="Topic of your message">
                </div>
                <div class="form-group my-2">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" cols="40" rows="7" required id="message"></textarea>
                </div>
            </form>
        
            <button id="button-submit" class="rounded-1 px-4 py-2 my-2 " onclick="sendMail('{{ host_mail }}')">Send</button>
        </div>
    </div>


    <!-- Javascript -->
    <script>
        function sendMail(email_to) {
            form = document.getElementById("formMail");
            subject = form.subject.value; 
            message = form.message.value; 
            emailCC = ''

            window.location.href = "mailto:" + email_to + "?" + 
                                    (emailCC ? "cc=" + emailCC : "") + 
                                    (subject ? "&subject=" + subject : "") + 
                                    (message ? "&body=" + message : "");
            
        } 
    </script>

</div>



{% endblock %}